*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}

.announcement-bar {
     background-color: rgba(0, 0, 0, 0.938);
     color: white;
     text-align: center;
     padding: 10px 0;
     font-size: 16px;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center
     
}

.close-icon {
    position: absolute;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
}

.navbar{
    background-color: #da9d68;
    height: 50px;
   
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

 .navbar a{
    color: white;
    margin: 14px 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
 }
 .navbar a:hover{
     text-decoration:underline 

 }


.nav-logo{
    
    height: 50px;
    width: 200px;
    padding-bottom: 5px;
    
.nav-logo .logo{
    font-size: 24px;
    font-weight: 400;
}
}
 .logo{
    background-image: url("Aroma_Sphere_Logo_1.png");
    height: 60px;
    width: 200px;
    background-size: cover;
    transition:transform 0.3s ease ;
 }
 .logo:hover{
   transform: scale(1.1);
   cursor: pointer;
 }
 .navbar i{
    color: white;
    margin-left: 15px;
    margin-top: 14px;
    cursor: pointer;
 }
 .navbar i:hover{
    color:black

 }
 
 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    flex-wrap: wrap;
}

.media-item {
  
  width: 50%;
  height: 50%;
  max-height: 400px;
  border-radius: 0px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  
}

.categories-section {
  text-align: center;
  padding: 60px 20px;
  background-color: #d7cabf;;
}

.categories-section .title p {
  color:black;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 0;
}

.categories-section .title h2 {
  margin: 10px 0 40px;
  font-size: 28px;
  font-weight: 400;
  
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 65px;
}

.category {
  width: 150px;
  text-align: center;
}

.category img {
  width: 170px;
  height: 220px;
  border-radius: 10%;
  object-fit: cover;
}
.category img:hover{
   transform: scale(1.1);
   cursor: pointer;
}

.category p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
.shop-now{
  position: absolute;
  bottom: 250px;
  left: 310px;
  background-color: #da9d68;
  color: #120;
  text-decoration: none;
  
  padding: 12px 30px;
  font-weight: bold; 
  border-radius: 8px;

  transition: background-color 0.3s;
}
.shop-now:hover {
  background-color: white;
  transform: scale(1.05);
}